body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.text-primary{
  color: #FD6E0A;
}

nav > ul{
  display: flex;
  align-items: center;
}

nav li{
  list-style: none;
  margin-left: 50px;
}

nav a{
  text-decoration: none;
  color: #474747;
}

.btn-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 32px;
}

/* header related style */
.header{
  background-color: #FFF8F3;
  background-image: url("../images//header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner{
  padding: 0px 60px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.banner-contant{
  max-width: 550px;
}

.banner .banner-image{
width: 530px;
}

.banner-greeting{
  color: #181818;
}

.banner-title{
  color: #181818;
  font-size: xx-large;
}


main{
  max-width: 1160px;
  margin: 100px auto;

}

/* About section */
.about{
  background-color: #FFF8F3;
  padding: 100px 200px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  
}

.about-info-container{
  display: flex;
  justify-content: space-evenly;
}

#what-i-do-description{
  padding: 100px 120px 50px;
  text-align: center;
  justify-content: center;
}

.skill-container{
  display: flex;
  gap: 20px;
}

.skill{
  /* border: #181818; */
  padding: 20px;
  text-align: justify;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume-container{
  display: flex;
}

.container-section{
  margin-right: 30px;
}

.resume-section{
  margin: 160px auto 70px;
}

.resume{
  text-align: center;
  margin: 70px;
}

.course{
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D1D1D1;
}

.title{
  font-weight: 700;
}

.date, .details{
  color: #474747;
  font-size: small;
}


.download-cv{
text-align: center;
}

/* footer */
footer{
  background-color: #FFF8F3;
}

.footer-description{
  font-size: small;
}

.footer-container{
  display: flex;
  gap: 40px;
  max-width: 1150px;
  margin: auto;
}

.footer-div{
  max-width: 50%;
  padding: 50px 0px;
}

.contact input[type="text"], input[type="email"],textarea{
  display: block;
  margin-bottom: 24px;
  padding: 15px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 5px;
  width: 450px;
}